@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --clr-Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --clr-Soft-red: hsl(14, 88%, 65%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  padding: 10rem;
  color: var(--clr-Very-dark-grayish-blue);
}

img {
  width: 100%;
}

main {
  position: relative;
}

.faq {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 545.9px;
  background-color: white;
  padding: 5rem 3rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.woman-img,
.bg-img {
  position: relative;
  width: 500px;
  pointer-events: none;
}

.woman-img {
  z-index: 10;
  left: -100px;
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}

.bg-img {
  z-index: 0;
  top: -300px;
  left: -550px;
  width: 1000px;
  position: absolute;
}

.cube {
  width: 270px;
  z-index: 99;
  position: absolute;
  left: -66px;
  top: 35%;
  pointer-events: none;
}

.faq-title {
  margin-bottom: 1.5rem;
}

.faq__question {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #e7e7e9;
}

.faq__question .question {
  margin: 1rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.faq__question .question.active {
  font-weight: 700;
}

.faq__question .answer {
  max-width: 30rem;
  height: 0;
  overflow: hidden;
}

.faq__question .answer-active {
  height: 100%;
  margin-bottom: 1rem;
}

.faq__question .dropdown-arrow {
  position: absolute;
  border: none;
  background: transparent;
  width: 15px;
  right: 0;
  top: 20px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.faq__question .dropdown-arrow:hover {
  cursor: pointer;
}

.faq__question .dropdown-arrow.arrow-active {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  top: 15px;
}

.question:hover {
  cursor: pointer;
  color: var(--clr-Soft-red);
}

.attribution {
  position: absolute;
  bottom: 10px;
  right: 30%;
}

.attribution a {
  color: var(--clr-Very-dark-grayish-blue);
  text-decoration: none;
  font-weight: 700;
}

.attribution a:hover {
  color: var(--clr-Soft-red);
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */