@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --clr-Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --clr-Soft-red: hsl(14, 88%, 65%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  padding: 10rem;
  color: var(--clr-Very-dark-grayish-blue);
}

img {
  width: 100%;
}

main {
  position: relative;
}

.bg-phone {
  display: none;
}

.woman-phone {
  display: none;
}

.faq {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 545.9px;
  background-color: white;
  padding: 5rem 3rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.woman-img,
.bg-img {
  position: relative;
  width: 500px;
  pointer-events: none;
}

.woman-img {
  z-index: 10;
  left: -100px;
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}

.bg-img {
  z-index: 0;
  top: -300px;
  left: -550px;
  width: 1000px;
  position: absolute;
}

.cube {
  width: 270px;
  z-index: 99;
  position: absolute;
  left: -66px;
  top: 35%;
  pointer-events: none;
}

.faq-title {
  margin-bottom: 1.5rem;
}

.faq__question {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #e7e7e9;
}

.faq__question .question {
  margin: 1rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.faq__question .question.active {
  font-weight: 700;
}

.faq__question .answer {
  max-width: 30rem;
  height: 0;
  overflow: hidden;
}

.faq__question .answer-active {
  height: 100%;
  margin-bottom: 1rem;
}

.faq__question .dropdown-arrow {
  position: absolute;
  border: none;
  background: transparent;
  width: 15px;
  right: 0;
  top: 20px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.faq__question .dropdown-arrow:hover {
  cursor: pointer;
}

.faq__question .dropdown-arrow.arrow-active {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  top: 15px;
}

.question:hover {
  cursor: pointer;
  color: var(--clr-Soft-red);
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.attribution a {
  color: var(--clr-Very-dark-grayish-blue);
  text-decoration: none;
  font-weight: 700;
}

.attribution a:hover {
  color: var(--clr-Soft-red);
  text-decoration: underline;
}

@media (max-width: 1201px) {
  .images {
    width: 350px;
  }
  .faq {
    padding: 5rem 3rem !important;
  }
  .faq .faq-wrapper {
    margin-left: 2rem;
  }
  .faq .faq-title {
    margin-bottom: 0;
  }
  .cube {
    top: 90px;
  }
  .woman-img {
    top: 5px !important;
    width: 450px;
  }
  .bg-img {
    width: 900px;
    left: -500px;
    bottom: -60px;
    top: unset;
  }
}

@media (max-width: 720px) {
  body {
    padding: 1.5rem;
    padding-bottom: 0;
    overflow: hidden;
  }
  .images {
    display: none;
  }
  .faq-wrapper {
    margin-left: 0 !important;
  }
  .woman-img,
  .bg-img,
  .cube {
    display: none;
  }
  .bg-phone,
  .woman-phone {
    display: block;
  }
  .bg-phone {
    top: 30px;
    left: 0;
    right: 0;
    width: 320px;
    position: absolute;
    padding: 0 0 0 2.5rem;
    z-index: 10;
    margin: 0 auto;
  }
  .bg-phone img {
    width: 80%;
  }
  .woman-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    z-index: 99;
    top: -78px;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 3rem 0 0;
    width: 320px;
  }
  .woman-phone img {
    width: 100%;
  }
  .faq {
    margin-top: 2rem;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8rem 2rem !important;
  }
  .faq .faq-title {
    text-align: center;
  }
  .faq .question,
  .faq .answer {
    font-size: 0.9rem;
    padding-right: 10px;
  }
  .faq .dropdown-arrow {
    right: -10px;
  }
  .attribution {
    margin-top: 20px;
    font-size: 0.8rem;
    bottom: 5px;
    left: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */