@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --clr-Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --clr-Soft-red: hsl(14, 88%, 65%);
  --clr-Dark-grayish-blue: hsl(240, 6%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  padding: 10rem;
  color: var(--clr-Very-dark-grayish-blue);
}

img {
  width: 100%;
}

main {
  position: relative;
}

.bg-phone {
  display: none;
}

.woman-phone {
  display: none;
}

.faq {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 545.9px;
  background-color: white;
  padding: 5rem 3rem;
  border-radius: 20px;
  box-shadow: 0px 10px 25px rgba($color: #000000, $alpha: 0.2);
}

.woman-img,
.bg-img {
  position: relative;
  width: 500px;
  pointer-events: none;
}

.woman-img {
  z-index: 10;
  left: -100px;
  filter: saturate(1.5);
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.bg-img {
  z-index: 0;
  top: -300px;
  left: -550px;
  width: 1000px;
  position: absolute;
}

.cube {
  width: 250px;
  z-index: 99;
  position: absolute;
  left: -61px;
  top: 34%;
  pointer-events: none;
  animation: hover 2000ms cubic-bezier(0.67, 0.03, 0.41, 0.93) infinite
    alternate;
}

.faq-title {
  margin-bottom: 1.5rem;
}

.faq__question {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  .question {
    position: relative;
    margin: 1rem 0;
    user-select: none;
  }

  .question.active {
    font-weight: 700;
  }
  .answer {
    max-width: 30rem;
    height: 0;
    overflow: hidden;
    color: var(--clr-Dark-grayish-blue);
  }
  .answer-active {
    height: 100%;
    margin-bottom: 1rem;
  }
  .dropdown-arrow {
    position: absolute;
    border: none;
    background: transparent;
    width: 15px;
    right: 0;
    top: 20px;
    transition: transform 0.5s;
  }
  .dropdown-arrow:hover {
    cursor: pointer;
  }
  .dropdown-arrow.arrow-active {
    transform: rotateZ(180deg);
    top: 15px;
  }
}

.question:hover {
  cursor: pointer;
  color: var(--clr-Soft-red);
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 10px;
  a {
    color: var(--clr-Very-dark-grayish-blue);
    text-decoration: none;
    font-weight: 700;
  }
  a:hover {
    color: var(--clr-Soft-red);
    text-decoration: underline;
  }
}

@keyframes hover {
  0% {
    transform: translateY(10px);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.2));
  }

  100% {
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
    transform: translateY(16px);
  }
}

@keyframes slide-top {
  0% {
    opacity: 0.2;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1201px) {
  .images {
    width: 350px;
  }
  .faq {
    padding: 5rem 3rem !important;
    .faq-wrapper {
      margin-left: 2rem;
    }
    .faq-title {
      margin-bottom: 0;
    }
  }
  .cube {
    top: 90px;
  }
  .woman-img {
    top: 5px !important;
    width: 450px;
  }
  .bg-img {
    width: 900px;
    left: -500px;
    bottom: -60px;
    top: unset;
  }
}

@media (max-width: 1024px) {
  body {
    padding: 1.5rem;
    padding-bottom: 0;
    overflow: hidden;
  }

  .images {
    display: none;
  }

  .faq-wrapper {
    margin-left: 0 !important;
  }

  .woman-img,
  .bg-img,
  .cube {
    display: none;
  }
  .bg-phone,
  .woman-phone {
    display: block;
  }
  .bg-phone {
    top: 30px;
    left: 0;
    right: 0;
    width: 320px;
    position: absolute;
    padding: 0 0 0 2.5rem;
    z-index: 10;
    margin: 0 auto;
    img {
      width: 80%;
    }
  }
  .woman-phone {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 99;
    top: -78px;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 3rem 0 0;
    width: 320px;

    img {
      width: 100%;
    }
  }
  .faq {
    margin-top: 2rem;
    text-align: left;
    flex-direction: column;
    padding: 8rem 2rem !important;
    .faq-title {
      text-align: center;
    }
    .question,
    .answer {
      font-size: 0.9rem;
      padding-right: 10px;
    }
    .dropdown-arrow {
      right: -10px;
    }
  }
  .attribution {
    margin-top: 20px;
    font-size: 0.8rem;
    bottom: 5px;
    left: 20px;
  }
}
