@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --clr-Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --clr-Soft-red: hsl(14, 88%, 65%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  padding: 10rem;
  color: var(--clr-Very-dark-grayish-blue);
}

img {
  width: 100%;
}

.faq {
  overflow: hidden;
  position: relative;
  display: flex;
  max-height: 545.9px;
  background-color: white;
  padding: 5rem 3rem;
  border-radius: 20px;
  box-shadow: 0px 10px 25px rgba($color: #000000, $alpha: 0.2);
}

.woman-img,
.bg-img {
  position: relative;
  width: 500px;
}

.woman-img {
  left: -100px;
  filter: saturate(1.5);
}

.bg-img {
  top: -220px;
  left: -450px;
  width: 900px;
  position: absolute;
}

.cube {
  width: 250px;
  z-index: 99;
  position: absolute;
  left: 19px;
  top: 37%;
}

.faq-title {
  margin-bottom: 1.5rem;
}

.faq__question {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  .question {
    margin: 1rem 0;
    user-select: none;
  }
  .question.active {
    font-weight: 700;
  }
  .answer {
    max-width: 30rem;
    height: 0;
    overflow: hidden;
  }
  .answer-active {
    height: 100%;
    margin-bottom: 1rem;
  }
  .dropdown-arrow {
    position: absolute;
    border: none;
    background: transparent;
    width: 15px;
    right: 0;
    top: 20px;
    transition: transform 0.5s;
  }
  .dropdown-arrow:hover {
    cursor: pointer;
  }
  .dropdown-arrow.arrow-active {
    transform: rotateZ(180deg);
    top: 15px;
  }
}

.question:hover {
  cursor: pointer;
  color: var(--clr-Soft-red);
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 50%;
}
